/* CheckoutForm.module.scss */

.wrapper {
  background-color: var(--colorGreyMedium);
}

.wrapper_form {
  max-width: 111rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.checkoutForm {
  max-width: 73rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--colorWhite);
  padding: 2rem;
  border-radius: 1rem;
}

.formSection {
  width: 100%;
  margin-bottom: 3rem;

  h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primaryColor);
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 1.4rem;
    font-weight: bold;
  }

  input {
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  input:focus {
    border-color: var(--primaryColor);
  }
}
.formGroupInvalid {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 1.4rem;
    font-weight: bold;
  }

  input {
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 1px solid #b40e0e;
    background-color: #fddddd;
    border-radius: 4px;
    outline: none;
  }
  input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
}

.paymentMethod {
  display: flex;
  align-items: center;

  input[type='radio'] {
    margin-right: 0.5rem;

    appearance: none;
    -webkit-appearance: none;

    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid var(--primaryColor);
    border-radius: 50%;
    background-color: white;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
  }

  input[type='radio']:checked {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
  }

  input[type='radio']:checked::before {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
  }

  input[type='radio']:focus {
    outline: none;
    border-color: var(--primaryColor);
  }
}

.emoneyDetails {
  margin-top: 1.5rem;
}

.back_link {
  text-align: center;
  padding: 5rem;
  .link {
    text-decoration: none;
    color: gray;
    &:hover {
      text-decoration: underline;
    }
  }
}

.errorText {
  color: #b40e0e;
  font-size: 1.2rem;
  margin-top: 0;
  max-width: 74rem;
}
