.aboutus {
  background-color: var(--colorWhite);
  padding-top: 15rem;
  padding-bottom: 15rem;

  .wrapper {
    display: flex;
    max-width: 111rem;
    margin: auto;

    .left {
      width: 50%;
      .left-container {
        margin-top: 12rem;
        width: 45rem;
        h1 {
          font-weight: bold;
          font-size: 40px;

          span {
            color: var(--primaryColor);
          }
        }
        p {
          color: gray;
        }
      }
    }
    .right {
      width: 50%;
      .userimg {
        border-radius: 10px;
      }
    }
  }
}
