.footer {
  background-color: var(--colorGreyDark);
  color: var(--colorWhite);
  height: 36.5rem;
  display: flex;
  .left {
    width: 50%;

    .left-container {
      width: 54rem;
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 6rem;
      p {
        color: gray;
        margin-bottom: 4rem;
      }
      span {
        color: gray;
      }
    }
  }
  .right {
    width: 50%;

    .top {
      margin-top: 6rem;
      width: 70%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;

      .footerlinks {
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--colorWhite);
        &:hover {
          color: var(--primaryColor);
        }
      }
    }

    .bottom {
      margin-right: 11rem;
      .socialMediaIcons {
        display: flex;
        justify-content: flex-end;
        margin-top: 9rem;
        gap: 15px;
      }
    }
  }
}
