.productsection {
  background-color: var(--colorWhite);

  .top {
    .topcontainer {
      width: 111rem;
      height: 56rem;
      background-color: var(--primaryColor);
      position: relative;
      display: flex;
      margin: auto;
      margin-bottom: 5rem;
      overflow: hidden;
      border-radius: 1rem;

      .left {
        width: 50%;

        .productimage {
          height: 50rem;
          width: 42rem;
          position: absolute;
          top: 13%;
          left: 12%;
          object-fit: cover;
          z-index: 1;
        }
        .backdropoverlaysmall {
          position: absolute;
          width: 500px;
          height: 500px;
          border: 1px solid var(--colorGrey);
          border-radius: 50%;
          opacity: 20%;
          position: absolute;
          top: 32%;
          left: 8%;
          z-index: 0;
        }
        .backdropoverlaymedium {
          position: absolute;
          width: 600px;
          height: 600px;
          border: 1px solid var(--colorGrey);
          border-radius: 50%;
          opacity: 20%;
          position: absolute;
          top: 20%;
          left: 3%;
          z-index: 0;
        }
        .backdropoverlaylarge {
          position: absolute;
          width: 100rem;
          height: 100rem;
          border: 1px solid var(--colorGrey);
          border-radius: 50%;
          opacity: 20%;
          position: absolute;
          top: -20%;
          left: -20%;
          z-index: 0;
        }
      }
      .right {
        width: 50%;
        .right-container {
          display: flex;
          margin: auto;
          flex-direction: column;
          width: 35rem;
          height: 31rem;
          margin-top: 5rem;

          h1 {
            color: var(--colorWhite);
            margin-bottom: 2rem;
          }
          p {
            color: var(--colorWhite);
            margin-bottom: 3rem;
          }
          .button {
            width: 16rem;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  .center {
    width: 111rem;
    display: flex;
    margin: auto;
    margin-bottom: 5rem;
    border-radius: 10px;
    .productimage {
      position: relative;
      border-radius: 10px;
    }
    .center-text {
      position: absolute;

      left: 20%;
      bottom: -145%;
      h2 {
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
  .bottom {
    width: 111rem;
    display: flex;
    margin: auto;
    padding-bottom: 15rem;

    justify-content: space-between;
    .left {
      .productimage {
        border-radius: 10px;
      }
    }
    .right {
      height: 32rem;
      width: 54rem;
      background-color: var(--colorGrey);
      border-radius: 10px;

      .right-container {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 5rem;
        width: fit-content;

        h2 {
          font-size: 28px;
          font-weight: bold;
        }
        .button {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
