.productlist {
  padding-top: 15rem;
  margin-bottom: 0;
  .wrapper {
    width: 111rem;
    display: flex;
    margin: auto;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      gap: 15rem;
      li {
        display: flex;
        margin: auto;
        gap: 11rem;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        &.show {
          opacity: 1;
        }

        justify-content: space-between;
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        &:last-child {
          margin-bottom: 2rem;
        }

        .left {
          width: 50%;
          .productimg {
            object-fit: cover;
            border-radius: 1rem;
          }
        }
        .right {
          width: 50%;
          .right-container {
            margin-top: 10rem;

            .newproduct {
              color: var(--primaryColor);
              letter-spacing: 1rem;
              text-transform: uppercase;
              margin-bottom: 2rem;
            }
            h2 {
              margin-top: 1rem;
              max-width: 30rem;
            }
            p {
              color: gray;
              margin-bottom: 5rem;
            }
          }
        }
      }
    }
  }
}
