/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/cart/Summary.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.summary {
  background-color: var(--colorWhite);
  border-radius: 1rem;
  width: 35rem;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 62rem;
  overflow: auto;
}
.summary .wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
}
.summary .wrapper .top {
  width: 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.summary .wrapper .top h6 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.3px;
  margin-top: 2rem;
}
.summary .wrapper .center {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-transform: uppercase;
}
.summary .wrapper .center .cartItem {
  width: 32rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}
.summary .wrapper .center .cartItem .left {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.summary .wrapper .center .cartItem .left .blackheadphones {
  height: 6.4rem;
  width: 6.4rem;
  object-fit: cover;
  border-radius: 10px;
}
.summary .wrapper .center .cartItem .left .text-container {
  display: flex;
  gap: rem;
  align-items: center;
}
.summary .wrapper .center .cartItem .left .text-container h6 span {
  color: gray;
}
.summary .wrapper .center .cartItem .right {
  display: flex;
}
.summary .wrapper .center .cartItem .right .quantity {
  font-size: 2rem;
  text-transform: lowercase;
}
.summary .wrapper .bottom {
  width: 32rem;
}
.summary .wrapper .bottom .price-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}
.summary .wrapper .bottom .price-details .price-details-container .price-details-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}
.summary .wrapper .bottom .price-details .price-details-container .price-details-item h6 {
  color: gray;
}
.summary .wrapper .bottom .price-details .price-details-container .price-details-item h5 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.summary .wrapper .bottom .price-details .price-details-container .price-details-item .totalamount {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  color: var(--primaryColor);
}
.summary .wrapper .bottom .price-details:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.summary .wrapper .bottom .cart-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.summary .wrapper .bottom .cart-buttons .button {
  width: 27rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/UI/productLinkPrimaryButton.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productLink {
  font-size: 1.3rem;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  padding: 1.2rem 2.6rem;
  border-radius: 1px;
  transition: all 0.1s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.primary {
  background-color: var(--primaryColor);
  color: var(--colorWhite);
}

.primary:hover {
  background-color: var(--primaryColorLight);
}

.dark {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  z-index: 1;
}

.dark:hover {
  background-color: transparent;
  color: var(--colorBlack);
  border: 1px solid var(--colorBlack);
}

.transparent {
  background-color: transparent;
  color: var(--colorBlack);
  border: 1px solid var(--colorBlack);
}

.transparent:hover {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/layout/oderDetailModalComponents.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 200%;
  width: 100%;
}
.backdrop .modal-container {
  background-color: var(--colorWhite);
  border-radius: 1rem;
  padding: 5rem;
  width: 49rem;
  height: 53rem;
  position: absolute;
  top: 5%;
  left: 30%;
  opacity: 0;
  transform: translateY(-50px);
}
.backdrop .modal-container .order-detail-container {
  width: 100%;
  height: 14rem;
  display: flex;
  margin-bottom: 5rem;
}
.backdrop .modal-container .order-detail-container .left {
  width: 60%;
  background-color: var(--colorGrey);
  border-radius: 1rem 0 0 1rem;
}
.backdrop .modal-container .order-detail-container .left .product-container-details {
  padding: 2rem;
}
.backdrop .modal-container .order-detail-container .left .product-container-details .product-detail-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.backdrop .modal-container .order-detail-container .left .product-container-details .product-detail-top p {
  margin: 0;
  font-weight: 1.4rem;
}
.backdrop .modal-container .order-detail-container .left .product-container-details .product-detail-top h6 {
  font-weight: bold;
  margin: 0;
}
.backdrop .modal-container .order-detail-container .left .product-container-details .other-item-details {
  text-align: center;
}
.backdrop .modal-container .order-detail-container .right {
  width: 40%;
  background-color: black;
  border-radius: 0 1rem 1rem 0;
  color: white;
}
.backdrop .modal-container .order-detail-container .right .total-price-container {
  padding: 3rem 2rem 5rem 2rem;
}
.backdrop .modal-container .order-detail-container .right .total-price-container h4 {
  margin: 0;
  font-size: 2rem;
  color: gray;
  letter-spacing: 0.2px;
  font-weight: normal;
}
.backdrop .modal-container .order-detail-container .right .total-price-container p {
  margin: 0;
  color: var(--colorWhite);
  font-size: 2.4rem;
}
.backdrop .modal-container h2 {
  font-weight: bold;
  letter-spacing: 1.14px;
}
.backdrop .modal-container p {
  color: gray;
}
.backdrop .modal-container .button {
  width: 300rem;
  height: 20rem;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/Checkout/CheckoutForm.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* CheckoutForm.module.scss */
.CheckoutForm_wrapper__DnWSU {
  background-color: var(--colorGreyMedium);
}

.CheckoutForm_wrapper_form__J0v8L {
  max-width: 111rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.CheckoutForm_checkoutForm__IsT0N {
  max-width: 73rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--colorWhite);
  padding: 2rem;
  border-radius: 1rem;
}

.CheckoutForm_formSection__MU5vP {
  width: 100%;
  margin-bottom: 3rem;
}
.CheckoutForm_formSection__MU5vP h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.CheckoutForm_formSection__MU5vP h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--primaryColor);
}

.CheckoutForm_formGroup__HAM8H {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.CheckoutForm_formGroup__HAM8H label {
  font-size: 1.4rem;
  font-weight: bold;
}
.CheckoutForm_formGroup__HAM8H input {
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.CheckoutForm_formGroup__HAM8H input:focus {
  border-color: var(--primaryColor);
}

.CheckoutForm_formGroupInvalid__EBx20 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.CheckoutForm_formGroupInvalid__EBx20 label {
  font-size: 1.4rem;
  font-weight: bold;
}
.CheckoutForm_formGroupInvalid__EBx20 input {
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 1px solid #b40e0e;
  background-color: #fddddd;
  border-radius: 4px;
  outline: none;
}
.CheckoutForm_formGroupInvalid__EBx20 input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.CheckoutForm_paymentMethod__LTIYP {
  display: flex;
  align-items: center;
}
.CheckoutForm_paymentMethod__LTIYP input[type=radio] {
  margin-right: 0.5rem;
}

.CheckoutForm_emoneyDetails__Fb_41 {
  margin-top: 1.5rem;
}

.CheckoutForm_back_link__DDgmh {
  text-align: center;
  padding: 5rem;
}
.CheckoutForm_back_link__DDgmh .CheckoutForm_link__cXoun {
  text-decoration: none;
  color: gray;
}
.CheckoutForm_back_link__DDgmh .CheckoutForm_link__cXoun:hover {
  text-decoration: underline;
}

.CheckoutForm_errorText__gbDyE {
  color: #b40e0e;
  font-size: 1.2rem;
  margin-top: 0;
  max-width: 74rem;
}
