/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/UI/productLinkPrimaryButton.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productLink {
  font-size: 1.3rem;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  padding: 1.2rem 2.6rem;
  border-radius: 1px;
  transition: all 0.1s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.primary {
  background-color: var(--primaryColor);
  color: var(--colorWhite);
}

.primary:hover {
  background-color: var(--primaryColorLight);
}

.dark {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  z-index: 1;
}

.dark:hover {
  background-color: transparent;
  color: var(--colorBlack);
  border: 1px solid var(--colorBlack);
}

.transparent {
  background-color: transparent;
  color: var(--colorBlack);
  border: 1px solid var(--colorBlack);
}

.transparent:hover {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/layout/categoriessection.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.categoriesSection {
  background-color: var(--colorWhite);
  padding-bottom: 15rem;
}
.categoriesSection .wrapper {
  display: flex;
  max-width: 111rem;
  margin: auto;
  justify-content: space-between;
}
.categoriesSection .imagesection {
  width: 36rem;
  height: 21rem;
  background-color: var(--colorGrey);
  border-radius: 10px;
  margin-top: 17rem;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesSection .imagesection .categoriesImages {
  height: 25rem;
  width: 20rem;
  object-fit: cover;
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.categoriesSection .imagesection .links {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesSection .imagesection .links h6 {
  margin-bottom: 1rem;
}
.categoriesSection .imagesection .links .link {
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.categoriesSection .imagesection .links .link .icon {
  margin-top: 1px;
  color: var(--primaryColor);
  padding-left: 1rem;
  height: 3rem;
  width: 3rem;
  padding-top: -3px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/page.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home {
  background-color: var(--colorGreyDark);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/layout/header.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  background-color: var(--colorGreyDark);
  max-width: 111rem;
  height: 60rem;
  display: flex;
  margin: auto;
}
.header .left {
  width: 40%;
  height: 100%;
}
.header .left .left-container {
  height: 35rem;
  width: 40rem;
  display: flex;
  margin: auto;
  margin-top: 16.5rem;
  color: white;
  flex-direction: column;
}
.header .left .left-container h2 {
  font-size: 14px;
  width: 21rem;
  height: 2rem;
  font-weight: normal;
  color: gray;
  letter-spacing: 10px;
  margin-bottom: 0;
}
.header .left .left-container h1 {
  width: 40rem;
  height: 12rem;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.header .left .left-container p {
  height: 7.5rem;
  width: 35rem;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
}
.header .left .left-container .button {
  margin-top: 1rem;
  width: 16rem;
  display: flex;
  justify-content: center;
}
.header .left .left-container .link {
  margin-top: 1rem;
  width: 16rem;
  height: 5rem;
  background-color: var(--primaryColor);
  text-decoration: none;
  color: var(--colorWhite);
  font-weight: var(--fontWeightBold);
  border-radius: 1px;
  transition: all 0.1s;
  cursor: pointer;
}
.header .left .left-container .link:hover {
  background-color: var(--primaryColorLight);
}
.header .left .left-container .link div {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.2rem 2.6rem;
  font-size: 1.3rem;
}
.header .right {
  width: 60%;
}
.header .right .heroImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: none;
  background-color: var(--colorGreyDark);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/layout/productsection.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productsection {
  background-color: var(--colorWhite);
}
.productsection .top .topcontainer {
  width: 111rem;
  height: 56rem;
  background-color: var(--primaryColor);
  position: relative;
  display: flex;
  margin: auto;
  margin-bottom: 5rem;
  overflow: hidden;
  border-radius: 1rem;
}
.productsection .top .topcontainer .left {
  width: 50%;
}
.productsection .top .topcontainer .left .productimage {
  height: 50rem;
  width: 42rem;
  position: absolute;
  top: 13%;
  left: 12%;
  object-fit: cover;
  z-index: 1;
}
.productsection .top .topcontainer .left .backdropoverlaysmall {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid var(--colorGrey);
  border-radius: 50%;
  opacity: 20%;
  position: absolute;
  top: 32%;
  left: 8%;
  z-index: 0;
}
.productsection .top .topcontainer .left .backdropoverlaymedium {
  position: absolute;
  width: 600px;
  height: 600px;
  border: 1px solid var(--colorGrey);
  border-radius: 50%;
  opacity: 20%;
  position: absolute;
  top: 20%;
  left: 3%;
  z-index: 0;
}
.productsection .top .topcontainer .left .backdropoverlaylarge {
  position: absolute;
  width: 100rem;
  height: 100rem;
  border: 1px solid var(--colorGrey);
  border-radius: 50%;
  opacity: 20%;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: 0;
}
.productsection .top .topcontainer .right {
  width: 50%;
}
.productsection .top .topcontainer .right .right-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 35rem;
  height: 31rem;
  margin-top: 5rem;
}
.productsection .top .topcontainer .right .right-container h1 {
  color: var(--colorWhite);
  margin-bottom: 2rem;
}
.productsection .top .topcontainer .right .right-container p {
  color: var(--colorWhite);
  margin-bottom: 3rem;
}
.productsection .top .topcontainer .right .right-container .button {
  width: 16rem;
  display: flex;
  justify-content: center;
}
.productsection .center {
  width: 111rem;
  display: flex;
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 10px;
}
.productsection .center .productimage {
  position: relative;
  border-radius: 10px;
}
.productsection .center .center-text {
  position: absolute;
  left: 20%;
  bottom: -145%;
}
.productsection .center .center-text h2 {
  font-size: 28px;
  font-weight: bold;
}
.productsection .bottom {
  width: 111rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.productsection .bottom .left .productimage {
  border-radius: 10px;
}
.productsection .bottom .right {
  height: 32rem;
  width: 54rem;
  background-color: var(--colorGrey);
  border-radius: 10px;
}
.productsection .bottom .right .right-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.productsection .bottom .right .right-container h2 {
  font-size: 28px;
  font-weight: bold;
}
.productsection .bottom .right .right-container .button {
  display: flex;
  justify-content: center;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/components/layout/aboutus.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.aboutus {
  background-color: var(--colorWhite);
  padding-bottom: 15rem;
}
.aboutus .wrapper {
  display: flex;
  max-width: 111rem;
  margin: auto;
}
.aboutus .wrapper .left {
  width: 50%;
}
.aboutus .wrapper .left .left-container {
  margin-top: 12rem;
  width: 45rem;
}
.aboutus .wrapper .left .left-container h1 {
  font-weight: bold;
  font-size: 40px;
}
.aboutus .wrapper .left .left-container h1 span {
  color: var(--primaryColor);
}
.aboutus .wrapper .left .left-container p {
  color: gray;
}
.aboutus .wrapper .right {
  width: 50%;
}
.aboutus .wrapper .right .userimg {
  border-radius: 10px;
}
